fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-docx
sentence-transformers
underthesea
langchain
langchain-pinecone
langchain-google-genai
docx2txt
langchain-community
pymupdf
python-dotenv
tiktoken